/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-weight:inherit;vertical-align:baseline;-webkit-text-rendering:optimizeLegibility;-moz-text-rendering:optimizeLegibility;-ms-text-rendering:optimizeLegibility;-o-text-rendering:optimizeLegibility;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Styles */
html, body {
	height: 100%;
}

body {
	color: #555;
	font-family: 'Merriweather', serif;
}

a {
	text-decoration: none;
}

.text {
	background: #fff;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 32%;

	z-index: 10;
}

.text .body {	
	margin: 2em 2.75em;
}

.text .body h1 {
	color: #e74c3c;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.25em;
	text-align: center;
	text-transform: uppercase;
	margin: 2em 0 2em 0;
	cursor: pointer;
}

.body p {
	font-size: 1em;
	line-height: 1.8em;
	margin-bottom: 2em;
}

.body p b {
	font-weight: bold;
}

.text .body p a {
	color: #27ae60;
	border-bottom: 1px solid #27ae60;

	-webkit-transition: color .2s, background .2s;
	transition: color .2s, background .2s;

	padding: 2px 2px 0px 2px;
}
.text .body p a:hover,
.text .body p a.active {
	background: #27ae60;
	color: #fff;	
}

.twitter {
	text-align: center;
	margin: 2em 0 2em 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.photo {
	background: url('henning-horn-bg-vietnam-2013.jpg') no-repeat right top;
	background-size: cover;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 68%;

	transition: opacity .4s;
}

.photo.hidden {
	opacity: 0;
}

@media (max-width: 1240px) {
	.text .body h2 {
		font-size: 2em;
	}
}

@media (max-width: 1140px) {
	.photo, .text, .twitter {
		position: relative;
	}

	.text .body {
		font-size: 100%;
	}

	.photo {
		height: 60%;
		width: 100%;
	}

	.text {
		margin: 0 auto 4em auto;
		min-width: 400px;
		max-width: 700px;
		width: 100%;
	}

	.twitter {
		margin-top: 4em;
	}
}

@media (max-width: 600px) {
	.photo {
		height: 300px;
	}

	.text {
		font-size: 80%;
		min-width: 100%;
	}
}