/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-weight:inherit;vertical-align:baseline;-webkit-text-rendering:optimizeLegibility;-moz-text-rendering:optimizeLegibility;-ms-text-rendering:optimizeLegibility;-o-text-rendering:optimizeLegibility;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
	box-sizing: border-box;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	color: #555;
	font-family: 'Libre Baskerville', serif;
	background: url(../images/geometry.png);
}

h1 {
	color: #e74c3c;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.15em;
	text-transform: uppercase;
	margin: 1.5em 0 1.25em 0;
}

h2 {
	color: #7f8c8d;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 1.15em;
	text-transform: uppercase;
	margin: 1.5em 0 1.25em 0;
}

.post h2 {
	color: #e74c3c;
}

nav {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 0 10%;
	top: 5vw;
	text-transform: uppercase;
	position: absolute;
}
nav a {
	text-decoration: none;
	color: #888;
}
nav a:hover {
	text-decoration: underline;
}

.container {
	margin: 10% 10% 0 10%;
	max-width: 600px;
	width: 80%;
	animation: fadein .6s ease-out;
	position: relative;
}

section.content {
	min-height: 50vh;
}

p {
	font-size: 1em;
	line-height: 2.2em;
	margin-bottom: 2.2em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

section.content a {
	border-bottom: 1px solid #27ae60;
	color: inherit;
	padding-bottom: 2px;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transition: background .2s, color .2s;
	-moz-transition: background .2s, color .2s;
	-o-transition: background .2s, color .2s;
	transition: background .2s, color .2s;
}

section.content a:hover {
	background: #27ae60;
	color: #fff;
}

.post-list li {
	margin-bottom: 1em;
}

.post-list li span.date {
	display: inline-block;
	width: 110px;
}

.post-list a h3 {
	display: inline-block;
}

.post {
	min-height: 30vh;
}

.post h1 {
	margin-bottom: .8em;
}

.post .date {
	color: #888;
	font-size: .9em;
	margin-bottom: 1.5em;
}

.post blockquote {
	border-left: 1px solid #ccc;
	padding-left: 1em;
	color: #777;
}

pre code {
	font-family: 'Inconsolata', monospace;
	padding: 1em;
	line-height: 1.33em;
	border-radius: 8px;
	width: 700px;
	margin-left: -25px;
	margin-bottom: 2em;
}

code {
	font-family: 'Inconsolata', monospace;
	background: #fff;
	padding: 4px;
	border: 1px solid #eee;
	border-radius: 5px;
}

.comments {
	margin-top: 3em;
}

footer {
	font-family: 'Inconsolata', monospace;
}

footer a.social {
	color: #777;
	text-decoration: none;
}
footer a:hover.social {
	text-decoration: underline;
}

.profileImage {
	border-radius: 100%;
	box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
	z-index: -1;
	position: absolute;
	right: -420px;
	width: 400px;
	height: 400px;
	background: url('/images/profile.jpg');
	background-size: cover;
	transition: opacity 1s;
}

@media (max-width: 1023px) {
	.profileImage {
		opacity: 0;
	}

}

@media (max-width: 700px) {
	.container {
		width: auto;
	}

	pre code {
		width: auto;
		margin-left: 0;
	}
}

@media (max-width: 500px) {
	nav {
		margin: 10px 1.25em;
		top: 0;
		padding: none;
	}

	.container {
		margin: 1.25em;
	}

	h1 {
		font-size: 1.5em;
	}
	p, .post-list li, .post .date {
		font-size: 0.7em;
		line-height: 2em;
		margin-bottom: 2em;
	}
	.post-list li span.date {
		width: 80px;
	}
}

@keyframes fadein {
	from { opacity: 0; transform: translateX(30px); }
	to { opacity: 1; transform: translateX(0px); }
}
