* {
  box-sizing: border-box;
}

body {
  color: #444;
}

#top {
  position: relative;
  width: 100%;
  height: 125px;
}

#logo {
  font-family: 'Montserrat', sans-serif;
  border: 5px solid #C0392B;
  padding: .5em;
  line-height: .66em;
  font-size: 1.5em;
  position: absolute;
  top: 24px;
  left: 24px;
  font-weight: 700;
  color: #fff;
  background: #C0392B;
}

#page {
  margin: 5em auto;
  width: 100%;
  max-width: 600px;
}

h2 {
  font-family: 'Amiri', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2em;
  color: #333;
  line-height: 1.33em;
}

h2 a {
  color: inherit;
  text-decoration: none;
  transition: all .2s;
}

h2 a:hover {
  color: #999;
}

p {
  font-family: 'Amiri', serif;
  font-size: 1.33em;
  line-height: 1.5em;
}
