a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-weight:inherit;vertical-align:baseline;-webkit-text-rendering:optimizeLegibility;-moz-text-rendering:optimizeLegibility;-ms-text-rendering:optimizeLegibility;-o-text-rendering:optimizeLegibility;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}h1{font-size:3em;line-height:1em;margin-bottom:.5em}h2{font-size:2.25em;line-height:1.333333333333333em;margin-bottom:.6666666666666667em}h3{font-size:1.5em;line-height:1em;margin-bottom:1em}h4{font-size:1.3125em;line-height:1.142857142857143em;margin-bottom:1.142857142857143em}h5{font-size:1.125em;line-height:1.333333333333333em;margin-bottom:1.333333333333333em}h6{font-size:1em;line-height:1.5em}blockquote,dl,ol,p,ul{margin-bottom:1.5em}em{font-style:italic}strong{font-weight:600}small{font-size:60%;line-height:150%}.center{text-align:center}.lalign{text-align:left}.ralign{text-align:right}@media (max-width:960px){body{font-size:95%}}@media (max-width:700px){body{font-size:90%}}@media (max-width:480px){body{font-size:85%}}.container{width:90%;position:relative;max-width:960px;margin:0 auto;letter-spacing:-.25em}.container>*{letter-spacing:0}.container article:not(.grid),.container aside:not(.grid),.container footer:not(.grid),.container header:not(.grid),.container nav:not(.grid),.container section:not(.grid),.force-grid{letter-spacing:-.25em;width:100%}.container article:not(.grid)>*,.container aside:not(.grid)>*,.container footer:not(.grid)>*,.container header:not(.grid)>*,.container nav:not(.grid)>*,.container section:not(.grid)>*,.force-grid>*{letter-spacing:0}.container .grid{display:inline-block;padding:1.5em;margin:0;vertical-align:top;position:relative;letter-spacing:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.container .grid.remove-padding{padding:0}.grid,.grid.\31 of12{width:8.3333%}.grid.\31 of6,.grid.\32 of12{width:16.6667%}.grid.\31 of4,.grid.\33 of12{width:25%}.grid.\31 of3,.grid.\32 of6,.grid.\34 of12{width:33.3333%}.grid.\35 of12{width:41.6667%}.grid.\31 of2,.grid.\32 of4,.grid.\33 of6,.grid.\36 of12{width:50%}.grid.\37 of12{width:58.3333%}.grid.\32 of3,.grid.\34 of6,.grid.\38 of12{width:66.6667%}.grid.\33 of4,.grid.\39 of12{width:75%}.grid.\31 0of12,.grid.\35 of6{width:83.3333%}.grid.\31 1of12{width:96.6667%}.grid.\31 2of12,.grid.\31 of1,.grid.\32 of2,.grid.\33 of3,.grid.\34 of4,.grid.\36 of6{width:100%}.grid.offset-1{margin-left:8.3333%}.grid.offset-2{margin-left:16.6666%}.grid.offset-3{margin-left:25%}.grid.offset-4{margin-left:33.3333%}.grid.offset-5{margin-left:41.6666%}.grid.offset-6{margin-left:50%}.grid.offset-7{margin-left:58.3333%}.grid.offset-8{margin-left:66.6666%}.grid.offset-9{margin-left:75%}.grid.offset-10{margin-left:83.3333%}.grid.offset-11{margin-left:96.6666%}.grid.offset-12{margin-left:100%}@media screen and (max-width:700px){.container .grid:not(.stick-to-grid){width:100%;margin:0}}@media screen and (min-width:1300px){.container{max-width:1280px}.grid.\31 of12.keep-shape,.grid.keep-shape{padding:30px 28.33px}.grid.\31 of6.keep-shape,.grid.\32 of12.keep-shape{padding:30px 41.67px}.grid.\31 of4.keep-shape,.grid.\33 of12.keep-shape{padding:30px 55px}.grid.\31 of3.keep-shape,.grid.\32 of6.keep-shape,.grid.\34 of12.keep-shape{padding:30px 68.33px}.grid.\35 of12.keep-shape{padding:30px 81.67px}.grid.\31 of2.keep-shape,.grid.\32 of4.keep-shape,.grid.\33 of6.keep-shape,.grid.\36 of12.keep-shape{padding:30px 95px}.grid.\37 of12.keep-shape{padding:30px 108.33px}.grid.\32 of3.keep-shape,.grid.\34 of6,.grid.\38 of12.keep-shape{padding:30px 121.67px}.grid.\33 of4.keep-shape,.grid.\39 of12.keep-shape{padding:30px 135px}.grid.\31 0of12.keep-shape,.grid.\35 of-six.keep-shape{padding:30px 148.33px}.grid.\31 1of12.keep-shape{padding:30px 161.67px}.grid.\31 2of12.keep-shape,.grid.\31 of1.keep-shape,.grid.\32 of2.keep-shape,.grid.\33 of3.keep-shape,.grid.\34 of4.keep-shape,.grid.\36 of6.keep-shape{padding:30px 175px}}

body {
	color: #555;
	font-family: 'Merriweather', serif;
}

a {
	text-decoration: none;
}

h1 {
	color: #e74c3c;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.65em;
	text-transform: uppercase;
}

.header {
	padding: 3em 0 1.5em 0;
}

.photo img {
	width: 100%;
}

.text .intro {
	font-size: 1.15em;
	line-height: 1.8em;
}

.text a {
	border-bottom: 2px solid #fff;
	color: #27ae60;
	display: inline-block;
	transition: all .5s;
}

.text a:hover {
	border-bottom: 2px solid #27ae60;
}

.twitter {
	margin: 3em 0 3em 0;
}