
/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-weight:inherit;vertical-align:baseline;-webkit-text-rendering:optimizeLegibility;-moz-text-rendering:optimizeLegibility;-ms-text-rendering:optimizeLegibility;-o-text-rendering:optimizeLegibility;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #555;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  color: #e74c3c;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.33em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.15em;
  text-transform: uppercase;
  margin: 1.5em 0 1.25em 0;
}

.container {
  margin: 7%;
  max-width: 600px;
  width: 90%;
}

p {
  font-size: 1em;
  line-height: 2.2em;
  margin-bottom: 2.2em;
}

p a {
  border-bottom: 1px solid #27ae60;
  color: inherit;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: background .2s, color .2s;
  -moz-transition: background .2s, color .2s;
  -o-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
}

p a:hover {
  background: #27ae60;
  color: #fff;
}

@media (max-width: 700px) {
  .container {
    width: auto;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 1.25em;
  }

  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 0.7em;
    line-height: 2em;
    margin-bottom: 2em;
  }
}
